<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>If100 (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,92}</string>
                <key>spriteSourceSize</key>
                <string>{84,92}</string>
                <key>textureRect</key>
                <string>{{0,0},{84,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>If100 (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,92}</string>
                <key>spriteSourceSize</key>
                <string>{84,92}</string>
                <key>textureRect</key>
                <string>{{252,92},{84,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>If100 (11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,92}</string>
                <key>spriteSourceSize</key>
                <string>{84,92}</string>
                <key>textureRect</key>
                <string>{{336,92},{84,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>If100 (12).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,92}</string>
                <key>spriteSourceSize</key>
                <string>{84,92}</string>
                <key>textureRect</key>
                <string>{{420,92},{84,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>If100 (13).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,92}</string>
                <key>spriteSourceSize</key>
                <string>{84,92}</string>
                <key>textureRect</key>
                <string>{{0,184},{84,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>If100 (14).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,92}</string>
                <key>spriteSourceSize</key>
                <string>{84,92}</string>
                <key>textureRect</key>
                <string>{{84,184},{84,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>If100 (15).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,92}</string>
                <key>spriteSourceSize</key>
                <string>{84,92}</string>
                <key>textureRect</key>
                <string>{{168,184},{84,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>If100 (16).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,92}</string>
                <key>spriteSourceSize</key>
                <string>{84,92}</string>
                <key>textureRect</key>
                <string>{{252,184},{84,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>If100 (17).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,92}</string>
                <key>spriteSourceSize</key>
                <string>{84,92}</string>
                <key>textureRect</key>
                <string>{{336,184},{84,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>If100 (18).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,92}</string>
                <key>spriteSourceSize</key>
                <string>{84,92}</string>
                <key>textureRect</key>
                <string>{{420,184},{84,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>If100 (19).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,92}</string>
                <key>spriteSourceSize</key>
                <string>{84,92}</string>
                <key>textureRect</key>
                <string>{{0,276},{84,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>If100 (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,92}</string>
                <key>spriteSourceSize</key>
                <string>{84,92}</string>
                <key>textureRect</key>
                <string>{{84,0},{84,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>If100 (20).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,92}</string>
                <key>spriteSourceSize</key>
                <string>{84,92}</string>
                <key>textureRect</key>
                <string>{{84,276},{84,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>If100 (21).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,92}</string>
                <key>spriteSourceSize</key>
                <string>{84,92}</string>
                <key>textureRect</key>
                <string>{{168,276},{84,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>If100 (22).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,92}</string>
                <key>spriteSourceSize</key>
                <string>{84,92}</string>
                <key>textureRect</key>
                <string>{{252,276},{84,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>If100 (23).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,92}</string>
                <key>spriteSourceSize</key>
                <string>{84,92}</string>
                <key>textureRect</key>
                <string>{{336,276},{84,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>If100 (24).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,92}</string>
                <key>spriteSourceSize</key>
                <string>{84,92}</string>
                <key>textureRect</key>
                <string>{{420,276},{84,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>If100 (25).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,92}</string>
                <key>spriteSourceSize</key>
                <string>{84,92}</string>
                <key>textureRect</key>
                <string>{{0,368},{84,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>If100 (26).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,92}</string>
                <key>spriteSourceSize</key>
                <string>{84,92}</string>
                <key>textureRect</key>
                <string>{{84,368},{84,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>If100 (27).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,92}</string>
                <key>spriteSourceSize</key>
                <string>{84,92}</string>
                <key>textureRect</key>
                <string>{{168,368},{84,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>If100 (28).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,92}</string>
                <key>spriteSourceSize</key>
                <string>{84,92}</string>
                <key>textureRect</key>
                <string>{{252,368},{84,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>If100 (29).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,92}</string>
                <key>spriteSourceSize</key>
                <string>{84,92}</string>
                <key>textureRect</key>
                <string>{{336,368},{84,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>If100 (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,92}</string>
                <key>spriteSourceSize</key>
                <string>{84,92}</string>
                <key>textureRect</key>
                <string>{{168,0},{84,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>If100 (30).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,92}</string>
                <key>spriteSourceSize</key>
                <string>{84,92}</string>
                <key>textureRect</key>
                <string>{{420,368},{84,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>If100 (31).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,92}</string>
                <key>spriteSourceSize</key>
                <string>{84,92}</string>
                <key>textureRect</key>
                <string>{{0,460},{84,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>If100 (32).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,92}</string>
                <key>spriteSourceSize</key>
                <string>{84,92}</string>
                <key>textureRect</key>
                <string>{{84,460},{84,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>If100 (33).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,92}</string>
                <key>spriteSourceSize</key>
                <string>{84,92}</string>
                <key>textureRect</key>
                <string>{{168,460},{84,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>If100 (34).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,92}</string>
                <key>spriteSourceSize</key>
                <string>{84,92}</string>
                <key>textureRect</key>
                <string>{{252,460},{84,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>If100 (35).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,92}</string>
                <key>spriteSourceSize</key>
                <string>{84,92}</string>
                <key>textureRect</key>
                <string>{{336,460},{84,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>If100 (36).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,92}</string>
                <key>spriteSourceSize</key>
                <string>{84,92}</string>
                <key>textureRect</key>
                <string>{{420,460},{84,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>If100 (37).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,92}</string>
                <key>spriteSourceSize</key>
                <string>{84,92}</string>
                <key>textureRect</key>
                <string>{{0,552},{84,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>If100 (38).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,92}</string>
                <key>spriteSourceSize</key>
                <string>{84,92}</string>
                <key>textureRect</key>
                <string>{{84,552},{84,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>If100 (39).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,92}</string>
                <key>spriteSourceSize</key>
                <string>{84,92}</string>
                <key>textureRect</key>
                <string>{{168,552},{84,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>If100 (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,92}</string>
                <key>spriteSourceSize</key>
                <string>{84,92}</string>
                <key>textureRect</key>
                <string>{{252,0},{84,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>If100 (40).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,92}</string>
                <key>spriteSourceSize</key>
                <string>{84,92}</string>
                <key>textureRect</key>
                <string>{{252,552},{84,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>If100 (41).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,92}</string>
                <key>spriteSourceSize</key>
                <string>{84,92}</string>
                <key>textureRect</key>
                <string>{{336,552},{84,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>If100 (42).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,92}</string>
                <key>spriteSourceSize</key>
                <string>{84,92}</string>
                <key>textureRect</key>
                <string>{{420,552},{84,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>If100 (43).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,92}</string>
                <key>spriteSourceSize</key>
                <string>{84,92}</string>
                <key>textureRect</key>
                <string>{{0,644},{84,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>If100 (44).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,92}</string>
                <key>spriteSourceSize</key>
                <string>{84,92}</string>
                <key>textureRect</key>
                <string>{{84,644},{84,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>If100 (45).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,92}</string>
                <key>spriteSourceSize</key>
                <string>{84,92}</string>
                <key>textureRect</key>
                <string>{{168,644},{84,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>If100 (46).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,92}</string>
                <key>spriteSourceSize</key>
                <string>{84,92}</string>
                <key>textureRect</key>
                <string>{{252,644},{84,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>If100 (47).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,92}</string>
                <key>spriteSourceSize</key>
                <string>{84,92}</string>
                <key>textureRect</key>
                <string>{{336,644},{84,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>If100 (48).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,92}</string>
                <key>spriteSourceSize</key>
                <string>{84,92}</string>
                <key>textureRect</key>
                <string>{{420,644},{84,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>If100 (49).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,92}</string>
                <key>spriteSourceSize</key>
                <string>{84,92}</string>
                <key>textureRect</key>
                <string>{{0,736},{84,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>If100 (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,92}</string>
                <key>spriteSourceSize</key>
                <string>{84,92}</string>
                <key>textureRect</key>
                <string>{{336,0},{84,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>If100 (50).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,92}</string>
                <key>spriteSourceSize</key>
                <string>{84,92}</string>
                <key>textureRect</key>
                <string>{{84,736},{84,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>If100 (51).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,92}</string>
                <key>spriteSourceSize</key>
                <string>{84,92}</string>
                <key>textureRect</key>
                <string>{{168,736},{84,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>If100 (52).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,92}</string>
                <key>spriteSourceSize</key>
                <string>{84,92}</string>
                <key>textureRect</key>
                <string>{{252,736},{84,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>If100 (53).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,92}</string>
                <key>spriteSourceSize</key>
                <string>{84,92}</string>
                <key>textureRect</key>
                <string>{{336,736},{84,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>If100 (54).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,92}</string>
                <key>spriteSourceSize</key>
                <string>{84,92}</string>
                <key>textureRect</key>
                <string>{{420,736},{84,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>If100 (55).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,92}</string>
                <key>spriteSourceSize</key>
                <string>{84,92}</string>
                <key>textureRect</key>
                <string>{{0,828},{84,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>If100 (56).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,92}</string>
                <key>spriteSourceSize</key>
                <string>{84,92}</string>
                <key>textureRect</key>
                <string>{{84,828},{84,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>If100 (57).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,92}</string>
                <key>spriteSourceSize</key>
                <string>{84,92}</string>
                <key>textureRect</key>
                <string>{{168,828},{84,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>If100 (58).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,92}</string>
                <key>spriteSourceSize</key>
                <string>{84,92}</string>
                <key>textureRect</key>
                <string>{{252,828},{84,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>If100 (59).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,92}</string>
                <key>spriteSourceSize</key>
                <string>{84,92}</string>
                <key>textureRect</key>
                <string>{{336,828},{84,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>If100 (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,92}</string>
                <key>spriteSourceSize</key>
                <string>{84,92}</string>
                <key>textureRect</key>
                <string>{{420,0},{84,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>If100 (60).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,92}</string>
                <key>spriteSourceSize</key>
                <string>{84,92}</string>
                <key>textureRect</key>
                <string>{{420,828},{84,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>If100 (61).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,92}</string>
                <key>spriteSourceSize</key>
                <string>{84,92}</string>
                <key>textureRect</key>
                <string>{{0,920},{84,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>If100 (62).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,92}</string>
                <key>spriteSourceSize</key>
                <string>{84,92}</string>
                <key>textureRect</key>
                <string>{{84,920},{84,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>If100 (63).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,92}</string>
                <key>spriteSourceSize</key>
                <string>{84,92}</string>
                <key>textureRect</key>
                <string>{{168,920},{84,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>If100 (64).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,92}</string>
                <key>spriteSourceSize</key>
                <string>{84,92}</string>
                <key>textureRect</key>
                <string>{{252,920},{84,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>If100 (65).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,92}</string>
                <key>spriteSourceSize</key>
                <string>{84,92}</string>
                <key>textureRect</key>
                <string>{{336,920},{84,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>If100 (66).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,92}</string>
                <key>spriteSourceSize</key>
                <string>{84,92}</string>
                <key>textureRect</key>
                <string>{{420,920},{84,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>If100 (67).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,92}</string>
                <key>spriteSourceSize</key>
                <string>{84,92}</string>
                <key>textureRect</key>
                <string>{{0,1012},{84,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>If100 (68).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,92}</string>
                <key>spriteSourceSize</key>
                <string>{84,92}</string>
                <key>textureRect</key>
                <string>{{84,1012},{84,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>If100 (69).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,92}</string>
                <key>spriteSourceSize</key>
                <string>{84,92}</string>
                <key>textureRect</key>
                <string>{{168,1012},{84,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>If100 (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,92}</string>
                <key>spriteSourceSize</key>
                <string>{84,92}</string>
                <key>textureRect</key>
                <string>{{0,92},{84,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>If100 (70).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,92}</string>
                <key>spriteSourceSize</key>
                <string>{84,92}</string>
                <key>textureRect</key>
                <string>{{252,1012},{84,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>If100 (71).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,92}</string>
                <key>spriteSourceSize</key>
                <string>{84,92}</string>
                <key>textureRect</key>
                <string>{{336,1012},{84,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>If100 (72).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,92}</string>
                <key>spriteSourceSize</key>
                <string>{84,92}</string>
                <key>textureRect</key>
                <string>{{420,1012},{84,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>If100 (73).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,92}</string>
                <key>spriteSourceSize</key>
                <string>{84,92}</string>
                <key>textureRect</key>
                <string>{{0,1104},{84,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>If100 (74).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,92}</string>
                <key>spriteSourceSize</key>
                <string>{84,92}</string>
                <key>textureRect</key>
                <string>{{84,1104},{84,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>If100 (75).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,92}</string>
                <key>spriteSourceSize</key>
                <string>{84,92}</string>
                <key>textureRect</key>
                <string>{{168,1104},{84,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>If100 (76).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,92}</string>
                <key>spriteSourceSize</key>
                <string>{84,92}</string>
                <key>textureRect</key>
                <string>{{252,1104},{84,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>If100 (77).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,92}</string>
                <key>spriteSourceSize</key>
                <string>{84,92}</string>
                <key>textureRect</key>
                <string>{{336,1104},{84,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>If100 (78).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,92}</string>
                <key>spriteSourceSize</key>
                <string>{84,92}</string>
                <key>textureRect</key>
                <string>{{420,1104},{84,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>If100 (79).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,92}</string>
                <key>spriteSourceSize</key>
                <string>{84,92}</string>
                <key>textureRect</key>
                <string>{{0,1196},{84,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>If100 (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,92}</string>
                <key>spriteSourceSize</key>
                <string>{84,92}</string>
                <key>textureRect</key>
                <string>{{84,92},{84,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>If100 (80).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,92}</string>
                <key>spriteSourceSize</key>
                <string>{84,92}</string>
                <key>textureRect</key>
                <string>{{84,1196},{84,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>If100 (81).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,92}</string>
                <key>spriteSourceSize</key>
                <string>{84,92}</string>
                <key>textureRect</key>
                <string>{{168,1196},{84,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>If100 (82).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,92}</string>
                <key>spriteSourceSize</key>
                <string>{84,92}</string>
                <key>textureRect</key>
                <string>{{252,1196},{84,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>If100 (83).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,92}</string>
                <key>spriteSourceSize</key>
                <string>{84,92}</string>
                <key>textureRect</key>
                <string>{{336,1196},{84,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>If100 (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,92}</string>
                <key>spriteSourceSize</key>
                <string>{84,92}</string>
                <key>textureRect</key>
                <string>{{168,92},{84,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>If1.png</string>
            <key>size</key>
            <string>{504,1288}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a9e31c4d8a851dd9d9f4ace652313c1e:ef73b18e6a9b9c45f741ecad56f75812:ffea004823c32116c3b75543639782a7$</string>
            <key>textureFileName</key>
            <string>If1.png</string>
        </dict>
    </dict>
</plist>
