<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>M01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,0}</string>
                <key>spriteSize</key>
                <string>{182,92}</string>
                <key>spriteSourceSize</key>
                <string>{234,100}</string>
                <key>textureRect</key>
                <string>{{201,1},{182,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>M02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,1}</string>
                <key>spriteSize</key>
                <string>{186,90}</string>
                <key>spriteSourceSize</key>
                <string>{234,100}</string>
                <key>textureRect</key>
                <string>{{565,1},{186,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>M03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,1}</string>
                <key>spriteSize</key>
                <string>{178,92}</string>
                <key>spriteSourceSize</key>
                <string>{234,100}</string>
                <key>textureRect</key>
                <string>{{385,1},{178,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>M04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,0}</string>
                <key>spriteSize</key>
                <string>{196,88}</string>
                <key>spriteSourceSize</key>
                <string>{234,100}</string>
                <key>textureRect</key>
                <string>{{753,1},{196,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>M05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,-2}</string>
                <key>spriteSize</key>
                <string>{196,86}</string>
                <key>spriteSourceSize</key>
                <string>{234,100}</string>
                <key>textureRect</key>
                <string>{{1313,1},{196,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>M06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-1}</string>
                <key>spriteSize</key>
                <string>{170,88}</string>
                <key>spriteSourceSize</key>
                <string>{234,100}</string>
                <key>textureRect</key>
                <string>{{1141,1},{170,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>M07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-1}</string>
                <key>spriteSize</key>
                <string>{188,88}</string>
                <key>spriteSourceSize</key>
                <string>{234,100}</string>
                <key>textureRect</key>
                <string>{{951,1},{188,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>M08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,1}</string>
                <key>spriteSize</key>
                <string>{198,94}</string>
                <key>spriteSourceSize</key>
                <string>{234,100}</string>
                <key>textureRect</key>
                <string>{{1,1},{198,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Mf1.png</string>
            <key>size</key>
            <string>{1510,96}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fc67c17fc6bc9389efe1a9745a1e7d8a:52374a9752301937f03e258025adab80:6beb9630668470488ca38cabf807acc9$</string>
            <key>textureFileName</key>
            <string>Mf1.png</string>
        </dict>
    </dict>
</plist>
