<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Pf400.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,195}</string>
                <key>spriteSourceSize</key>
                <string>{195,195}</string>
                <key>textureRect</key>
                <string>{{0,0},{195,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Pf401.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,195}</string>
                <key>spriteSourceSize</key>
                <string>{195,195}</string>
                <key>textureRect</key>
                <string>{{195,0},{195,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Pf402.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,195}</string>
                <key>spriteSourceSize</key>
                <string>{195,195}</string>
                <key>textureRect</key>
                <string>{{390,0},{195,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Pf403.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,195}</string>
                <key>spriteSourceSize</key>
                <string>{195,195}</string>
                <key>textureRect</key>
                <string>{{585,0},{195,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Pf404.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,195}</string>
                <key>spriteSourceSize</key>
                <string>{195,195}</string>
                <key>textureRect</key>
                <string>{{780,0},{195,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Pf405.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,195}</string>
                <key>spriteSourceSize</key>
                <string>{195,195}</string>
                <key>textureRect</key>
                <string>{{975,0},{195,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Pf406.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,195}</string>
                <key>spriteSourceSize</key>
                <string>{195,195}</string>
                <key>textureRect</key>
                <string>{{1170,0},{195,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Pf407.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,195}</string>
                <key>spriteSourceSize</key>
                <string>{195,195}</string>
                <key>textureRect</key>
                <string>{{1365,0},{195,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Pf408.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,195}</string>
                <key>spriteSourceSize</key>
                <string>{195,195}</string>
                <key>textureRect</key>
                <string>{{1560,0},{195,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Pf409.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,195}</string>
                <key>spriteSourceSize</key>
                <string>{195,195}</string>
                <key>textureRect</key>
                <string>{{1755,0},{195,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Pf4.png</string>
            <key>size</key>
            <string>{1950,195}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3b0dd1262da6dcaf9aa336c974166ca5:e24d17bbded27f8a6902b074c347e808:c58b206cc940e682c7b5f1b90d8aa6fc$</string>
            <key>textureFileName</key>
            <string>Pf4.png</string>
        </dict>
    </dict>
</plist>
