<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Pf500 (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,195}</string>
                <key>spriteSourceSize</key>
                <string>{195,195}</string>
                <key>textureRect</key>
                <string>{{0,0},{195,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Pf500 (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,195}</string>
                <key>spriteSourceSize</key>
                <string>{195,195}</string>
                <key>textureRect</key>
                <string>{{1755,0},{195,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Pf500 (11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,195}</string>
                <key>spriteSourceSize</key>
                <string>{195,195}</string>
                <key>textureRect</key>
                <string>{{0,195},{195,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Pf500 (12).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,195}</string>
                <key>spriteSourceSize</key>
                <string>{195,195}</string>
                <key>textureRect</key>
                <string>{{195,195},{195,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Pf500 (13).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,195}</string>
                <key>spriteSourceSize</key>
                <string>{195,195}</string>
                <key>textureRect</key>
                <string>{{390,195},{195,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Pf500 (14).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,195}</string>
                <key>spriteSourceSize</key>
                <string>{195,195}</string>
                <key>textureRect</key>
                <string>{{585,195},{195,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Pf500 (15).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,195}</string>
                <key>spriteSourceSize</key>
                <string>{195,195}</string>
                <key>textureRect</key>
                <string>{{780,195},{195,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Pf500 (16).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,195}</string>
                <key>spriteSourceSize</key>
                <string>{195,195}</string>
                <key>textureRect</key>
                <string>{{975,195},{195,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Pf500 (17).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,195}</string>
                <key>spriteSourceSize</key>
                <string>{195,195}</string>
                <key>textureRect</key>
                <string>{{1170,195},{195,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Pf500 (18).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,195}</string>
                <key>spriteSourceSize</key>
                <string>{195,195}</string>
                <key>textureRect</key>
                <string>{{1365,195},{195,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Pf500 (19).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,195}</string>
                <key>spriteSourceSize</key>
                <string>{195,195}</string>
                <key>textureRect</key>
                <string>{{1560,195},{195,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Pf500 (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,195}</string>
                <key>spriteSourceSize</key>
                <string>{195,195}</string>
                <key>textureRect</key>
                <string>{{195,0},{195,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Pf500 (20).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,195}</string>
                <key>spriteSourceSize</key>
                <string>{195,195}</string>
                <key>textureRect</key>
                <string>{{1755,195},{195,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Pf500 (21).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,195}</string>
                <key>spriteSourceSize</key>
                <string>{195,195}</string>
                <key>textureRect</key>
                <string>{{0,390},{195,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Pf500 (22).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,195}</string>
                <key>spriteSourceSize</key>
                <string>{195,195}</string>
                <key>textureRect</key>
                <string>{{195,390},{195,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Pf500 (23).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,195}</string>
                <key>spriteSourceSize</key>
                <string>{195,195}</string>
                <key>textureRect</key>
                <string>{{390,390},{195,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Pf500 (24).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,195}</string>
                <key>spriteSourceSize</key>
                <string>{195,195}</string>
                <key>textureRect</key>
                <string>{{585,390},{195,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Pf500 (25).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,195}</string>
                <key>spriteSourceSize</key>
                <string>{195,195}</string>
                <key>textureRect</key>
                <string>{{780,390},{195,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Pf500 (26).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,195}</string>
                <key>spriteSourceSize</key>
                <string>{195,195}</string>
                <key>textureRect</key>
                <string>{{975,390},{195,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Pf500 (27).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,195}</string>
                <key>spriteSourceSize</key>
                <string>{195,195}</string>
                <key>textureRect</key>
                <string>{{1170,390},{195,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Pf500 (28).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,195}</string>
                <key>spriteSourceSize</key>
                <string>{195,195}</string>
                <key>textureRect</key>
                <string>{{1365,390},{195,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Pf500 (29).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,195}</string>
                <key>spriteSourceSize</key>
                <string>{195,195}</string>
                <key>textureRect</key>
                <string>{{1560,390},{195,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Pf500 (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,195}</string>
                <key>spriteSourceSize</key>
                <string>{195,195}</string>
                <key>textureRect</key>
                <string>{{390,0},{195,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Pf500 (30).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,195}</string>
                <key>spriteSourceSize</key>
                <string>{195,195}</string>
                <key>textureRect</key>
                <string>{{1755,390},{195,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Pf500 (31).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,195}</string>
                <key>spriteSourceSize</key>
                <string>{195,195}</string>
                <key>textureRect</key>
                <string>{{0,585},{195,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Pf500 (32).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,195}</string>
                <key>spriteSourceSize</key>
                <string>{195,195}</string>
                <key>textureRect</key>
                <string>{{195,585},{195,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Pf500 (33).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,195}</string>
                <key>spriteSourceSize</key>
                <string>{195,195}</string>
                <key>textureRect</key>
                <string>{{390,585},{195,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Pf500 (34).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,195}</string>
                <key>spriteSourceSize</key>
                <string>{195,195}</string>
                <key>textureRect</key>
                <string>{{585,585},{195,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Pf500 (35).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,195}</string>
                <key>spriteSourceSize</key>
                <string>{195,195}</string>
                <key>textureRect</key>
                <string>{{780,585},{195,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Pf500 (36).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,195}</string>
                <key>spriteSourceSize</key>
                <string>{195,195}</string>
                <key>textureRect</key>
                <string>{{975,585},{195,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Pf500 (37).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,195}</string>
                <key>spriteSourceSize</key>
                <string>{195,195}</string>
                <key>textureRect</key>
                <string>{{1170,585},{195,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Pf500 (38).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,195}</string>
                <key>spriteSourceSize</key>
                <string>{195,195}</string>
                <key>textureRect</key>
                <string>{{1365,585},{195,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Pf500 (39).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,195}</string>
                <key>spriteSourceSize</key>
                <string>{195,195}</string>
                <key>textureRect</key>
                <string>{{1560,585},{195,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Pf500 (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,195}</string>
                <key>spriteSourceSize</key>
                <string>{195,195}</string>
                <key>textureRect</key>
                <string>{{585,0},{195,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Pf500 (40).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,195}</string>
                <key>spriteSourceSize</key>
                <string>{195,195}</string>
                <key>textureRect</key>
                <string>{{1755,585},{195,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Pf500 (41).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,195}</string>
                <key>spriteSourceSize</key>
                <string>{195,195}</string>
                <key>textureRect</key>
                <string>{{0,780},{195,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Pf500 (42).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,195}</string>
                <key>spriteSourceSize</key>
                <string>{195,195}</string>
                <key>textureRect</key>
                <string>{{195,780},{195,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Pf500 (43).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,195}</string>
                <key>spriteSourceSize</key>
                <string>{195,195}</string>
                <key>textureRect</key>
                <string>{{390,780},{195,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Pf500 (44).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,195}</string>
                <key>spriteSourceSize</key>
                <string>{195,195}</string>
                <key>textureRect</key>
                <string>{{585,780},{195,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Pf500 (45).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,195}</string>
                <key>spriteSourceSize</key>
                <string>{195,195}</string>
                <key>textureRect</key>
                <string>{{780,780},{195,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Pf500 (46).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,195}</string>
                <key>spriteSourceSize</key>
                <string>{195,195}</string>
                <key>textureRect</key>
                <string>{{975,780},{195,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Pf500 (47).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,195}</string>
                <key>spriteSourceSize</key>
                <string>{195,195}</string>
                <key>textureRect</key>
                <string>{{1170,780},{195,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Pf500 (48).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,195}</string>
                <key>spriteSourceSize</key>
                <string>{195,195}</string>
                <key>textureRect</key>
                <string>{{1365,780},{195,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Pf500 (49).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,195}</string>
                <key>spriteSourceSize</key>
                <string>{195,195}</string>
                <key>textureRect</key>
                <string>{{1560,780},{195,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Pf500 (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,195}</string>
                <key>spriteSourceSize</key>
                <string>{195,195}</string>
                <key>textureRect</key>
                <string>{{780,0},{195,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Pf500 (50).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,195}</string>
                <key>spriteSourceSize</key>
                <string>{195,195}</string>
                <key>textureRect</key>
                <string>{{1755,780},{195,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Pf500 (51).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,195}</string>
                <key>spriteSourceSize</key>
                <string>{195,195}</string>
                <key>textureRect</key>
                <string>{{0,975},{195,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Pf500 (52).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,195}</string>
                <key>spriteSourceSize</key>
                <string>{195,195}</string>
                <key>textureRect</key>
                <string>{{195,975},{195,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Pf500 (53).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,195}</string>
                <key>spriteSourceSize</key>
                <string>{195,195}</string>
                <key>textureRect</key>
                <string>{{390,975},{195,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Pf500 (54).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,195}</string>
                <key>spriteSourceSize</key>
                <string>{195,195}</string>
                <key>textureRect</key>
                <string>{{585,975},{195,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Pf500 (55).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,195}</string>
                <key>spriteSourceSize</key>
                <string>{195,195}</string>
                <key>textureRect</key>
                <string>{{780,975},{195,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Pf500 (56).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,195}</string>
                <key>spriteSourceSize</key>
                <string>{195,195}</string>
                <key>textureRect</key>
                <string>{{975,975},{195,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Pf500 (57).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,195}</string>
                <key>spriteSourceSize</key>
                <string>{195,195}</string>
                <key>textureRect</key>
                <string>{{1170,975},{195,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Pf500 (58).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,195}</string>
                <key>spriteSourceSize</key>
                <string>{195,195}</string>
                <key>textureRect</key>
                <string>{{1365,975},{195,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Pf500 (59).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,195}</string>
                <key>spriteSourceSize</key>
                <string>{195,195}</string>
                <key>textureRect</key>
                <string>{{1560,975},{195,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Pf500 (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,195}</string>
                <key>spriteSourceSize</key>
                <string>{195,195}</string>
                <key>textureRect</key>
                <string>{{975,0},{195,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Pf500 (60).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,195}</string>
                <key>spriteSourceSize</key>
                <string>{195,195}</string>
                <key>textureRect</key>
                <string>{{1755,975},{195,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Pf500 (61).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,195}</string>
                <key>spriteSourceSize</key>
                <string>{195,195}</string>
                <key>textureRect</key>
                <string>{{0,1170},{195,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Pf500 (62).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,195}</string>
                <key>spriteSourceSize</key>
                <string>{195,195}</string>
                <key>textureRect</key>
                <string>{{195,1170},{195,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Pf500 (63).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,195}</string>
                <key>spriteSourceSize</key>
                <string>{195,195}</string>
                <key>textureRect</key>
                <string>{{390,1170},{195,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Pf500 (64).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,195}</string>
                <key>spriteSourceSize</key>
                <string>{195,195}</string>
                <key>textureRect</key>
                <string>{{585,1170},{195,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Pf500 (65).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,195}</string>
                <key>spriteSourceSize</key>
                <string>{195,195}</string>
                <key>textureRect</key>
                <string>{{780,1170},{195,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Pf500 (66).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,195}</string>
                <key>spriteSourceSize</key>
                <string>{195,195}</string>
                <key>textureRect</key>
                <string>{{975,1170},{195,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Pf500 (67).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,195}</string>
                <key>spriteSourceSize</key>
                <string>{195,195}</string>
                <key>textureRect</key>
                <string>{{1170,1170},{195,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Pf500 (68).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,195}</string>
                <key>spriteSourceSize</key>
                <string>{195,195}</string>
                <key>textureRect</key>
                <string>{{1365,1170},{195,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Pf500 (69).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,195}</string>
                <key>spriteSourceSize</key>
                <string>{195,195}</string>
                <key>textureRect</key>
                <string>{{1560,1170},{195,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Pf500 (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,195}</string>
                <key>spriteSourceSize</key>
                <string>{195,195}</string>
                <key>textureRect</key>
                <string>{{1170,0},{195,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Pf500 (70).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,195}</string>
                <key>spriteSourceSize</key>
                <string>{195,195}</string>
                <key>textureRect</key>
                <string>{{1755,1170},{195,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Pf500 (71).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,195}</string>
                <key>spriteSourceSize</key>
                <string>{195,195}</string>
                <key>textureRect</key>
                <string>{{0,1365},{195,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Pf500 (72).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,195}</string>
                <key>spriteSourceSize</key>
                <string>{195,195}</string>
                <key>textureRect</key>
                <string>{{195,1365},{195,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Pf500 (73).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,195}</string>
                <key>spriteSourceSize</key>
                <string>{195,195}</string>
                <key>textureRect</key>
                <string>{{390,1365},{195,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Pf500 (74).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,195}</string>
                <key>spriteSourceSize</key>
                <string>{195,195}</string>
                <key>textureRect</key>
                <string>{{585,1365},{195,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Pf500 (75).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,195}</string>
                <key>spriteSourceSize</key>
                <string>{195,195}</string>
                <key>textureRect</key>
                <string>{{780,1365},{195,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Pf500 (76).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,195}</string>
                <key>spriteSourceSize</key>
                <string>{195,195}</string>
                <key>textureRect</key>
                <string>{{975,1365},{195,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Pf500 (77).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,195}</string>
                <key>spriteSourceSize</key>
                <string>{195,195}</string>
                <key>textureRect</key>
                <string>{{1170,1365},{195,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Pf500 (78).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,195}</string>
                <key>spriteSourceSize</key>
                <string>{195,195}</string>
                <key>textureRect</key>
                <string>{{1365,1365},{195,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Pf500 (79).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,195}</string>
                <key>spriteSourceSize</key>
                <string>{195,195}</string>
                <key>textureRect</key>
                <string>{{1560,1365},{195,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Pf500 (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,195}</string>
                <key>spriteSourceSize</key>
                <string>{195,195}</string>
                <key>textureRect</key>
                <string>{{1365,0},{195,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Pf500 (80).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,195}</string>
                <key>spriteSourceSize</key>
                <string>{195,195}</string>
                <key>textureRect</key>
                <string>{{1755,1365},{195,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Pf500 (81).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,195}</string>
                <key>spriteSourceSize</key>
                <string>{195,195}</string>
                <key>textureRect</key>
                <string>{{0,1560},{195,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Pf500 (82).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,195}</string>
                <key>spriteSourceSize</key>
                <string>{195,195}</string>
                <key>textureRect</key>
                <string>{{195,1560},{195,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Pf500 (83).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,195}</string>
                <key>spriteSourceSize</key>
                <string>{195,195}</string>
                <key>textureRect</key>
                <string>{{390,1560},{195,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Pf500 (84).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,195}</string>
                <key>spriteSourceSize</key>
                <string>{195,195}</string>
                <key>textureRect</key>
                <string>{{585,1560},{195,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Pf500 (85).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,195}</string>
                <key>spriteSourceSize</key>
                <string>{195,195}</string>
                <key>textureRect</key>
                <string>{{780,1560},{195,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Pf500 (86).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,195}</string>
                <key>spriteSourceSize</key>
                <string>{195,195}</string>
                <key>textureRect</key>
                <string>{{975,1560},{195,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Pf500 (87).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,195}</string>
                <key>spriteSourceSize</key>
                <string>{195,195}</string>
                <key>textureRect</key>
                <string>{{1170,1560},{195,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Pf500 (88).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,195}</string>
                <key>spriteSourceSize</key>
                <string>{195,195}</string>
                <key>textureRect</key>
                <string>{{1365,1560},{195,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Pf500 (89).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,195}</string>
                <key>spriteSourceSize</key>
                <string>{195,195}</string>
                <key>textureRect</key>
                <string>{{1560,1560},{195,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Pf500 (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,195}</string>
                <key>spriteSourceSize</key>
                <string>{195,195}</string>
                <key>textureRect</key>
                <string>{{1560,0},{195,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Pf5.png</string>
            <key>size</key>
            <string>{1950,1755}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b4538872c33a733d22dca4cee180dc6e:81c17e90c3157a95a6837f413fbf0ca4:633ff527e8c1739de443f47980dca4e4$</string>
            <key>textureFileName</key>
            <string>Pf5.png</string>
        </dict>
    </dict>
</plist>
